$primary2: #89BC89;
$primary3: #F6EAEA;
$primary3100:#FADDCB; 
$primary1: #05A8AA;
$body: #575F57;
$Grays900: #191D1A;
$Grays300: #BFC8C0;
$Grays600:  #999F9C;
$rect: #D9D9D9;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.lora-heading {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: $Grays900;
}
.noto-serif-display {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 96px;
    color: $Grays900;
  }
.montserrat-body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $body;
}

h1, h2, h3,  h4, h5 {
    font-family: 'Lora';
}

nav {
    display: flex !important;
    position: fixed;
    justify-content: space-between;
    padding: 15px 20px 5px 20px;
    width: 100%;
    background-color: $primary1;
    top: 0;
    z-index: 999;
    #navBtn {
        background-color: $primary2;
        border: none;
        border-radius: 8px;
        color: #FFFFFF;
        padding: 0 8px 0 8px;
        height: 40px;
        transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    #navBtn:hover {
        color: $primary2;
        background-color: #FFFFFF;
        transform: scale(1.2);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); 
    }
}

.hero {
    display: flex;
    width: 100%;
    margin-top: 5%;
    > * {
        flex: 1; /* Each child takes up equal space, i.e., half of the container */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
    }
    .heroLeft {
        margin-top: auto;
        margin-bottom: auto;
        padding-left:100px; 
        display: block;
    }
}

.whyUs{
    padding: 0 10%;
    .cards {
        display: flex;
        gap: 20px;
        .card {
            text-align: center;
            background-color: $primary3;
            border-radius: 24px;
            padding: 16px 12px 16px 12px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            strong {
                color: $primary2;
            }
        }
        .card:hover{
            transform: scale(1.2);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); 
        }
    }
}

.testimonials {
    margin: 0 20px;
    .sliding {
        display: flex;
        gap: 20px;
        width: 100%; /* Ensures container fits the parent width */
        overflow-x: auto; /* Allows horizontal scrolling */
        -webkit-overflow-scrolling: touch;
        .testimonial {
            padding: 15px;
            background-color: $primary3100;
            border-radius: 16px;
            min-width: 550px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 00);
            .footnote {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin: 0 2%;
            }
        }
        .testimonial:hover{
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); 
        }
        .project {
            width: 400px;
            height: fit-content;
            flex: 0 0 auto; /* Prevents shrinking */
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            
            img {
              max-width: 100%; /* Ensure image does not exceed card width */
              max-height: 100%; /* Ensure image does not exceed card height */
              height: auto; /* Maintain aspect ratio */
              width: auto; /* Ensure image fits within max-width and max-height */
            }
          
            .rectangle {
              background-color: $rect;
              padding: 20px 30px;
              
            }
          }
          
          
        .project:hover{
            transform: scale(1.01);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); 
        }
    }
}

.FAQ {
    
    h1 {
        text-align: center;
    }
    .accordion {
        margin: 25px 50px;
        .accordion-item {
            border-bottom: 1px solid #ccc;
            transition: all .3s ease-in-out;
          }
          
          .accordion-title {
            background-color: $primary3100;
            padding: 10px;
            cursor: pointer;
            color: black;
            font-size: 24px;
            transition: all .3s ease-in-out;
          }
          
          .accordion-content {
            background-color: $primary3100;
            display: none;
            padding: 10px;
            transition: all .3s ease-in-out;
          }
          
          .accordion-icon {
            float: right;
            transition: transform 0.3s ease; /* Added transition */
            transition: all .3s ease-in-out;
          }
    }
    
}
  
.process {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    .processBtn {
        display: inline-block;
        
        background-color: $primary2;
        border: none;
        border-radius: 8px;
        font-size: 36px;
        color: white;
        padding: 8px 64px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    .processBtn:hover{
        transform: scale(1.2);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        color: $primary2;
        background-color: white;
    }
    .quoteBtn {
        display: inline-block;
        background-color: $primary1;
        border: none;
        border-radius: 16px;
        font-size: 36px;
        color: white;
        padding: 8px 64px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    .quoteBtn:hover {
        text-decoration: none;
        transform: scale(1.2);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); 
        color: $primary1;
        background-color: white;
    }
}


footer {
    background-color: $Grays300;
    height:fit-content;
    margin: 0;
    text-align: center;
    padding: 50px 0;
    > p {
        color: $body;
    }
    #copy {
        font-size: 14px;
        color: $Grays600;
    }
    #email {
        color: $Grays900;
    }
}

// Thanks

.thanks {
    margin: 230px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        font-size: 96px;
    }
    p {
        max-width: 700px;
        min-width: auto;
        padding: 0 10px;
        font-size: 24px;
    }
}

// Process
.step {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    .stepInfo {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        p {
            width: 50%;
        }
    }   
    img {
        width: 600px;
    }
    #step1 {
        width: 936px!important;
    }
}

